    <%- include('./partials/header') %>
   <!-- Hero Section -->
    <section id="home" style="background-color: aqua;">
      <h1 class="text-center">Hero Section</h1>
    </section>
    <%- include('./partials/footer') %>