
<!doctype html>
<html lang="en">

<head>

  <!-- Required meta tags -->

  <meta charset="utf-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title></title>
  <!-- Bootstrap CSS v5.2.1 -->
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
    crossorigin="anonymous" />
  <link href="/assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="/assets/dist/css/style.css" rel="stylesheet">

  <!-- <link rel="stylesheet" href="/assets/dist/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/assets/dist/css/owl.theme.default.min.css"> -->

  <link rel="apple-touch-icon.png" type="image/png" sizes="512*512" href="/assets/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="512*512" href="/assets/favicon/android-chrome-512x512.png"
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/assets/favicon/favicon-96x96.png">
  <link rel="manifest" href="/assets/favicon/site.webmanifest">
 
</head>


<body data-bs-spy="scroll">
  <header>
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="/assets/favicon/android-chrome-512x512.png" alt="logo" class="img-fluid log-band"><span class="navbar-brand-log me-2">BlogHub</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <!-- <span class="navbar-toggler-icon"></span> -->
          <i class="fa-solid fa-bars-staggered"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 p-5px">
            <li class="nav-item">
              <a class="nav-link active" href="/">Home</a>
            </li>
            <li class="nav-item p-5px">
              <a class="nav-link" href="#">Blog</a>
            </li>
            <li class="nav-item p-5px">
              <a class="nav-link" href="#">News</a>
            </li>
          </ul>
          
         
            <!-- <ul class="navbar-nav ml-auto mb-2 mb-lg-0 p-5px">
              <% if(!isLoggedIn){ %>
              <a class="btn btn-primary" href="/login">Login</a>
              <% } else{ %> -->
         
          
          <!-- Dropdown Menu -->
    
          <!-- <li class="nav-item dropdown p-5px">
            <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="Dropdown" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              <img src="/Blog_img/9egn2nmuammb--images.jpg" alt="User" class="rounded-circle me-2" style="width:40px; height: 40px; object-fit: cover;">
              <span>UserName</span>
            </a>
              <ul class="dropdown-menu dropdown-menu-end " aria-labelledby="Dropdown">
                <li class="dropdown-item text-center fw-bold text-dark">UserName</li>
                <hr class="dropdown-divider">
                <li><a href="" class="dropdown-item"><i class="fa-solid fa-gauge-simple"></i> Dashboard</a></li>
          <li><a href="" class="dropdown-item"><i class="fa-regular fa-user me-2"></i>Profile</a></li>
          <li><a href="" class="dropdown-item"><i class="fa-solid fa-key me-2"></i>Password Change</a></li>
          <hr class="dropdown-divider">
            <li class="px-3 btn-danger">
               <form action="/logout" method="POST">
              <button type="submit" class="btn btn-danger">Logout</button>
            </form>
          </li>
                </ul>
              </li>
          <% }%> -->
         
           </ul>
        </div>
      </div>
    </nav>
  </header>
   