<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/admin/dashboard" class="brand-link">
      <img src="/assets/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
           style="opacity: .8">
      <span class="brand-text font-weight-light">
        <%= user.userType==='admin' ? 'Admin':'Editor' %>
      </span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="/assets/images/user.png" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="/admin/dashboard" class="d-block"><%= user.username %></a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item has-treeview menu-open">
            <a href="/admin/dashboard" class="nav-link active">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Dashboard
               
              </p>
            </a>
          </li>
          <% if(userType==='admin'){ %>
            <!-- Category Section  -->
       
                <li class="nav-item has-treeview">
                  <a href="/admin/category/list" class="nav-link">
                    <i class="fas fa-tasks"></i>
                    <p>
                   Manage Category
                      <i class="right fas fa-angle-left"></i>
                    </p>
                  </a>
                  <ul class="nav nav-treeview">
                    <li class="nav-item">
                      <a href="/admin/category/list" class="nav-link">
                        <i class="fas fa-plus-circle"></i>
                        <p>Add Category</p>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="/admin/post/list" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>View Category</p>
                      </a>
                    </li>
                    </ul>
                <!-- End Category Section  -->
                   <!-- Post Section -->
                <li class="nav-item has-treeview">
                  <a href="/admin/post/list" class="nav-link">
                    <i class="fas fa-tasks"></i>
                    <p>
                   Manage Post
                      <i class="right fas fa-angle-left"></i>
                    </p>
                  </a>
                  <ul class="nav nav-treeview">
                    <li class="nav-item">
                      <a href="/admin/post/add" class="nav-link">
                        <i class="fas fa-plus-circle"></i>
                        <p>Add Post</p>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="/admin/post/list" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>View Post</p>
                      </a>
                    </li>
                    </ul>

                  <!-- Editor List Section  -->
                  <li class="nav-item has-treeview">
                    <a href="/admin/editor/list" class="nav-link">
                      <i class="fa-solid fa-users"></i>
                      <p>
                     Manage Editor
                        <i class="right fas fa-angle-left"></i>
                      </p>
                    </a>
                    <ul class="nav nav-treeview">
                      <li class="nav-item">
                        <a href="/admin/editor/add" class="nav-link">
                          <i class="far fa-circle nav-icon"></i>
                          <p>Add Editor</p>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a href="/admin/editor/list" class="nav-link">
                          <i class="far fa-circle nav-icon"></i>
                          <p>View Editor</p>
                        </a>
                      </li>
                      </ul>
                      <!-- End Editor Manage Section -->

                      <!-- Vistor List -->
                      <li class="nav-item has-treeview">
                        <a href="/admin/visitor/list" class="nav-link">
                          <i class="fa-solid fa-users"></i>
                          <p>
                         Manage Visitor
                            <i class="right fas fa-angle-left"></i>
                          </p>
                        </a>
                        <ul class="nav nav-treeview">
                          <li class="nav-item">
                            <a href="/admin/visitor/list" class="nav-link">
                              <i class="far fa-circle nav-icon"></i>
                              <p>View Visitor</p>
                            </a>
                          </li>
                          </ul>
                          <!-- End Vistor manage Section -->

                      <!-- System Setting -->
                      <li class="nav-item has-treeview">
                        <a href="/admin/category/list" class="nav-link">
                          <i class="nav-icon fas fa-chart-pie"></i>
                          <p>
                         System Setting
                            <i class="right fas fa-angle-left"></i>
                          </p>
                        </a>
                        <ul class="nav nav-treeview">
                          <li class="nav-item">
                            <a href="/admin/editor/list" class="nav-link">
                              <i class="far fa-circle nav-icon"></i>
                              <p>About Page</p>
                            </a>
                          </li>
                          <li class="nav-item">
                            <a href="/admin/editor/list" class="nav-link">
                              <i class="far fa-circle nav-icon"></i>
                              <p>Contact Us</p>
                            </a>
                          </li>
                        </ul>

                          <!-- Usertype Editor Section  -->
                <% } else if(userType==='editor') { %>
              <!-- Post Section -->
                <li class="nav-item has-treeview">
                  <a href="/admin/post/list" class="nav-link">
                    <i class="fas fa-tasks"></i>
                    <p>
                   Manage Post
                      <i class="right fas fa-angle-left"></i>
                    </p>
                  </a>
                  <ul class="nav nav-treeview">
                    <li class="nav-item">
                      <a href="/admin/post/add" class="nav-link">
                        <i class="fas fa-plus-circle"></i>
                        <p>Add Post</p>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="/admin/post/list" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>View Post</p>
                      </a>
                    </li>
                    </ul>
                 
    <% } %>
  </ul>
                         
             
          
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>